.form {
  @include desktop {
    > div {
      margin-bottom: 0;
    }
    &--inline {
      flex-flow: row wrap;
    }
    .input {
      &--between {
        border-radius: 0;
        border-left: none;
        border-right: none;
      }
      &--short {
        max-width: 30px;
      }
    }
    .button {
      margin-top: 0;
      width: auto;
    }
  }
}
